{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition Utilisateur</h1>
{#    {{  dump(users.role) }}#}
    {{ form_start(form) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.role) }}

    {% if original_image is not null %}
        <p>
            Actuellement :
            <img src="{{ asset('images/' ~ original_image) }}" height="200px">
        </p>
    {% endif %}

    {{ form_row(form.photo) }}

    <div class="text-left">
        <button type="submit" class="btn btn-info">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-secondary">
            Retour
        </a>
    </div>


    {{ form_end(form) }}

{% endblock %}

{%  block javascripts %}

    {# scripts permettant d'afficher le nom du fichier de la photo uploadee #}
    {{  parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    {# fonction JQUERY // pour être sur que le DOM est prêt à être manipulé par le JS #}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        })
    </script>
{% endblock %}


