{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="m-5">Edition catégorie</h1>

    {{ form_start(form) }}
    form_row >> ecriture du lablel + l'input #}
    {{ form_row(form.name) }}
    {{ form_row(form.logo) }}

    <div class="text-right">
        <button class="btn btn-info">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_category_index') }}" class="btn btn-outline-info">
            Retour
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {# pour surcharger le block parent#}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        })
    </script>

{% endblock %}
